NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENROUTER_API_KEY=
OPENROUTER_API_KEYS=
OPENROUTER_SITE_URL=https://k-mystic.vercel.app
OPENROUTER_APP_NAME=K-Mystic
